<div class="main-content">
    <h1>@ViewData["Title"]</h1>

    
    <div class="grid-container">
        
        <div class="about-uptm-section">
            <h2>About UPTM</h2>
            <p>
                Universiti Poly-Tech Malaysia, also known as UPTM, is an institution of higher learning that has built itself upon years of continuous improvements and change, leading to a wealth of experience and wisdom.
            </p>
            <p>
                At UPTM, the focus is on providing a comprehensive education that goes beyond theoretical knowledge to include the development of essential human attributes, attitude, and aptitude. The university's committed educators work tirelessly to ensure that every student receives personalised attention and support that enables them to realise their full potential.
            </p>
            <p>
                UPTM's curriculum is anchored in contemporary technologies and business education, offering students a wide range of innovative courses that challenge and stimulate their skills and expertise essential for them to thrive in the fast-paced world of business. It is important to note that "Poly-Tech," in this context, refers to the incorporation of cutting-edge technologies into business education, and should not be confused with technical or vocational education.
            </p>
            <p>
                On the overall, the university’s emphasis is on producing graduates who are not only highly skilled and knowledgeable but also possess the essential qualities of professionalism, ethical responsibility, and social awareness. With its unwavering commitment to academic excellence, UPTM stands out as an institution of higher learning that prepares students for successful careers and meaningful lives.
            </p>
        </div>

        <div class="small-section">
            <h3>01. Vision</h3>
            <p>
                To become a university of choice in nurturing professionals impacting the nation.
            </p>
        </div>

        <div class="small-section">
            <h3>02. Mission</h3>
            <p>
                &#10148; Develop ethical, holistic, and balanced professionals.
            </p>
            <p>
                &#10148; To utilize knowledge and innovative contemporary technologies to contribute towards the development of the nation.
            </p>
        </div>

        <div class="small-section">
            <h3>03. Core Values</h3>
            <ul>
                <li>&#10148; Trustworthy</li>
                <li>&#10148; Caring</li>
                <li>&#10148; Resilient</li>
                <li>&#10148; Respected</li>
            </ul>
        </div>

        <div class="small-section">
            <h3>04. Objectives</h3>
            <ul>
                <li>&#10148; To provide opportunities to pursue professionally recognised programmes.</li>
                <li>&#10148; To provide vibrant and invitational programmes relevant to current market needs and customers' demands.</li>
                <li>&#10148; To design programmes that inculcate graduates' synergetic talents.</li>
                <li>&#10148; To ensure that graduates are adequately prepared for the local and global workforce.</li>
                <li>&#10148; To establish human resource development programmes as a tool for assimilating the value of society.</li>
                <li>&#10148; To establish a distinctive and accountable centre of excellence in managing research, consultation, and services.</li>
            </ul>
        </div>
        <br />
    </div>
</div>


