<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData[""] Course Enrollment Management System</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/StudentManagementAPI.styles.css" asp-append-version="true" />
    <style>
      
        .navbar-brand {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%; 
            margin: 0;
        }

            .navbar-brand img {
                height: 150px; 
                object-fit: contain; 
            }

        .navbar {
            justify-content: center; 
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="/uptm.png" alt="Logo" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()

            
            @if (ViewContext.RouteData.Values["controller"]?.ToString() == "Home" &&
            ViewContext.RouteData.Values["action"]?.ToString() == "Index")
            {
                <div id="action-buttons" class="text-center mt-3">
                    <button class="btn btn-outline-dark" onclick="window.location.href='@Url.Action("Index", "Students")'">Student</button>
                    <button class="btn btn-outline-dark" onclick="window.location.href='@Url.Action("Index", "Courses")'">Course</button>
                </div>
            }
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            © 2024 UPTM. All rights reserved. 
            <a asp-area="" asp-controller="Home" asp-action="AboutUs">About Us</a>
            <a asp-area="" asp-controller="Home" asp-action="FAQ">FAQ</a>
          
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
